h1 {
    text-align: center;
    text-decoration: solid;
}

body {
    background: #222;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    margin: 0 auto;
    color: white;
  }

img .about {
    scale: 50%;
    position: relative;
    float:left ;
}

iframe {
    float: left;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.aboutinfo{
    float: right;
}

header {
    background: #55d6aa;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    margin: 0;
    padding: 0;
    float: left;
}

nav {
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 15px;
    padding-bottom: 15px;

    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

nav a:hover {
    color: black;
}

nav a::before {
    content: "";
    display: block;
    height: 5px;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;

}

nav a:hover::before {
    width: 100%;
}

.landing-page {
    margin-top: 5px;
    padding-top: 200px;
    padding-bottom: 450px;
    background-image: url(../diego_band/Pictures/background2.png);
    position: relative;
    float:none;
    text-align: center;
    background-position: center;
    scale: 100%;
    
    background-repeat: no-repeat;
}

.booking-page {
    margin: 0;
    padding-top: 200px;
    padding-bottom: 450px;
    background-image: url(../diego_band/Pictures/titi-diego.png);
    position: relative;
    float:none;
    text-align: center;
    background-position: center;
    scale: 100%;
    
    background-repeat: no-repeat;
}

.events-page {
    margin-top: 5px;
    padding-top: 200px;
    padding-bottom: 450px;
    background-image: url(../diego_band/Pictures/background-2.png);
    position: relative;
    float:none;
    text-align: center;
    background-position: right;
    scale: 100%;
        
    background-repeat: no-repeat;
}


.about-page {
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 590px;
    background-image: url(../diego_band/Pictures/background2.png);
    position: relative;
    float:none;
    text-align: center;
    background-position: right;
    scale: 100%;   
    background-repeat: no-repeat;
    
}

.ariel-about {
    margin: 0;
    padding-top: 200px;
    padding-bottom: 450px;
    height: 100%;
    background-image: url(../diego_band/Pictures/ariel-about.png);
    position: relative;
    float:none;
    text-align: center;
    background-position: center;
    scale: 100%;   
    background-repeat: no-repeat; 
}

.ariel-aboutheadline {
    margin-top: 10px;
}

.ariel-abouttext {
    width: 500px;
    text-align: center;
    margin-left: 31%;
    margin-top: 35px;
    line-height: 30px;  
}

.social {
    margin-top: 40px;
    color: white;
    font-size: 50px;
}

.social a{
    color: white;
}

.about-us {
    margin-top: 120px;
}

.band-abouttext {
    padding: 0;
    text-align: center;
    width: 500px;
    height: 10px;
    margin-left: 31%;
    margin-top: 35px;
    line-height: 30px;
}

.social-band {
    margin-bottom: 0px;
    font-size: 50px;
    margin-top: 280px;
    height: 10px  
}

.social-band a {
    color: white;   
}

.diego-about {
    margin: 0;
    padding-top: 475px;
    padding-bottom: 450px;
    height: 100%;
    background-image: url(../diego_band/Pictures/diego-about2.png);
    position: relative;
    float:none;
    text-align: center;
    background-position: center;
    scale: 100%;   
    background-repeat: no-repeat; 
}

.diego-aboutheadline {
    margin-top: -130px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.diego-abouttext {
    width: 500px;
    text-align: center;
    margin-left: 31%;
    margin-top: 20px;
    line-height: 30px;
    padding-top: 0px;  
}

.social-diego {
    margin-bottom: -320px;
    font-size: 50px;
    margin-top: 30px;
    height: 10px  
}

.social-diego a {
    color: white;
}

.titi-about {
    margin: 0;
    padding-top: 475px;
    padding-bottom: 450px;
    height: 100%;
    background-image: url(../diego_band/Pictures/titi-about3.png);
    position: relative;
    float:none;
    text-align: center;
    background-position: center;
    scale: 100%;   
    background-repeat: no-repeat; 
}

.titi-aboutheadline {
    padding-top: 100px;
    margin-top: -200px;
    margin-bottom: 10px;
}

.titi-abouttext {
    width: 500px;
    text-align: center;
    margin-left: 31%;
    margin-top: 20px;
    line-height: 30px;
    padding-top: 0px;
}

.social-titi {
    margin-bottom: -320px;
    font-size: 50px;
    margin-top: 25px;
    height: 10px  
}

.social-titi a {
    color: white;
}

.gonzalo-about {
    margin: 0;
    padding-top: 475px;
    padding-bottom: 450px;
    height: 100%;
    background-image: url(../diego_band/Pictures/gonzalo-about1.png);
    position: relative;
    float:none;
    text-align: center;
    background-position: center;
    scale: 100%;   
    background-repeat: no-repeat; 
}

.gonzalo-aboutheadline {
    padding-top: 100px;
    margin-top: -200px;
    margin-bottom: 10px;
}

.gonzalo-abouttext {
    width: 500px;
    text-align: center;
    margin-left: 31%;
    margin-top: 20px;
    line-height: 30px;
    padding-top: 0px;
}

.social-gonzalo {
    margin-bottom: -320px;
    font-size: 50px;
    margin-top: 25px;
    height: 10px  
}

.social-gonzalo a {
    color: white;
}

.booking-form {
    line-height: 25px;
    cursor: pointer;
}

.contact-headline {
    margin-top: -108px;
}

.booking-form label {
    box-sizing: border-box;
}

.booking-form input {
    box-sizing: border-box;
    padding: 10px;
    width: 200px;
    margin: 10px 0;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.3);
}

.submit-button {
    cursor: pointer;
}

.submit-button:hover {
    color:white;
    background-color:#55d6aa
}








