h1 {
    text-align: center;
    text-decoration: solid;
}

body {
    background: #222;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    margin: 0 auto;
    color: white;
  }

img .about {
    scale: 50%;
    position: relative;
    float:left ;
}

iframe {
    float: left;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.aboutinfo{
    float: right;
}

header {
    background: #55d6aa;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    margin: 0;
    padding: 0;
    float: left;
}

nav {
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 15px;
    padding-bottom: 15px;

    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

nav a:hover {
    color: black;
}

nav a::before {
    content: "";
    display: block;
    height: 5px;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;

}

nav a:hover::before {
    width: 100%;
}

.landing-page {
    margin-top: 5px;
    padding-top: 200px;
    padding-bottom: 450px;
    background-image: url(../diego_band/Pictures/background2.png);
    position: relative;
    float:none;
    text-align: center;
    background-position: center;
    scale: 100%;
    
    background-repeat: no-repeat;
}

.booking-page {
    margin: 0;
    padding-top: 200px;
    padding-bottom: 450px;
    background-image: url(../diego_band/Pictures/titi-diego.png);
    position: relative;
    float:none;
    text-align: center;
    background-position: center;
    scale: 100%;
    
    background-repeat: no-repeat;
}

.events-page {
    margin-top: 5px;
    padding-top: 200px;
    padding-bottom: 450px;
    background-image: url(../diego_band/Pictures/background-2.png);
    position: relative;
    float:none;
    text-align: center;
    background-position: right;
    scale: 100%;
        
    background-repeat: no-repeat;
}


.about-page {
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 590px;
    background-image: url(../diego_band/Pictures/background2.png);
    position: relative;
    float:none;
    text-align: center;
    background-position: right;
    scale: 100%;   
    background-repeat: no-repeat;
    
}

.ariel-about {
    margin: 0;
    padding-top: 200px;
    padding-bottom: 450px;
    height: 100%;
    background-image: url(../diego_band/Pictures/ariel-about.png);
    position: relative;
    float:none;
    text-align: center;
    background-position: center;
    scale: 100%;   
    background-repeat: no-repeat; 
}

.ariel-aboutheadline {
    margin-top: 10px;
}

.ariel-abouttext {
    width: 500px;
    text-align: center;
    margin-left: 31%;
    margin-top: 35px;
    line-height: 30px;  
}

.social {
    margin-top: 40px;
    color: white;
    font-size: 50px;
}

.social a{
    color: white;
}

.about-us {
    margin-top: 120px;
}

.band-abouttext {
    padding: 0;
    text-align: center;
    width: 500px;
    height: 10px;
    margin-left: 31%;
    margin-top: 35px;
    line-height: 30px;
}

.social-band {
    margin-bottom: 0px;
    font-size: 50px;
    margin-top: 280px;
    height: 10px  
}

.social-band a {
    color: white;   
}

.diego-about {
    margin: 0;
    padding-top: 475px;
    padding-bottom: 450px;
    height: 100%;
    background-image: url(../diego_band/Pictures/diego-about2.png);
    position: relative;
    float:none;
    text-align: center;
    background-position: center;
    scale: 100%;   
    background-repeat: no-repeat; 
}

.diego-aboutheadline {
    margin-top: -130px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.diego-abouttext {
    width: 500px;
    text-align: center;
    margin-left: 31%;
    margin-top: 20px;
    line-height: 30px;
    padding-top: 0px;  
}

.social-diego {
    margin-bottom: -320px;
    font-size: 50px;
    margin-top: 30px;
    height: 10px  
}

.social-diego a {
    color: white;
}

.titi-about {
    margin: 0;
    padding-top: 475px;
    padding-bottom: 450px;
    height: 100%;
    background-image: url(../diego_band/Pictures/titi-about3.png);
    position: relative;
    float:none;
    text-align: center;
    background-position: center;
    scale: 100%;   
    background-repeat: no-repeat; 
}

.titi-aboutheadline {
    padding-top: 100px;
    margin-top: -200px;
    margin-bottom: 10px;
}

.titi-abouttext {
    width: 500px;
    text-align: center;
    margin-left: 31%;
    margin-top: 20px;
    line-height: 30px;
    padding-top: 0px;
}

.social-titi {
    margin-bottom: -320px;
    font-size: 50px;
    margin-top: 25px;
    height: 10px  
}

.social-titi a {
    color: white;
}

.gonzalo-about {
    margin: 0;
    padding-top: 475px;
    padding-bottom: 450px;
    height: 100%;
    background-image: url(../diego_band/Pictures/gonzalo-about1.png);
    position: relative;
    float:none;
    text-align: center;
    background-position: center;
    scale: 100%;   
    background-repeat: no-repeat; 
}

.gonzalo-aboutheadline {
    padding-top: 100px;
    margin-top: -200px;
    margin-bottom: 10px;
}

.gonzalo-abouttext {
    width: 500px;
    text-align: center;
    margin-left: 31%;
    margin-top: 20px;
    line-height: 30px;
    padding-top: 0px;
}

.social-gonzalo {
    margin-bottom: -320px;
    font-size: 50px;
    margin-top: 25px;
    height: 10px  
}

.social-gonzalo a {
    color: white;
}

.booking-form {
    line-height: 25px;
    cursor: pointer;
}

.contact-headline {
    margin-top: -60px;
}

.booking-form label {
    box-sizing: border-box;
}

.booking-form input {
    box-sizing: border-box;
    padding: 10px;
    width: 200px;
    margin: 10px 0;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.3);
}

.submit-button {
    cursor: pointer;
}

.submit-button:hover {
    color:white;
    background-color:#55d6aa
}

.contact-line {
    text-align: center;
    text-decoration: solid;
    font-weight: bold;
    font-size: 20px;
}

.emails {
    text-decoration: underline;
}

.media-section {
    margin: 0;
    padding-top: 475px;
    padding-bottom: 450px;
    height: 100%;
    background-image: url(../diego_band/Pictures/background2.png);
    position: relative;
    float:none;
    text-align: center;
    background-position: center;
    scale: 100%;   
    background-repeat: no-repeat; 
}

.media-headline {
    margin-top: -250px;
}

.event-container {
    font-family: "Roboto", sans-serif;
    max-width: 800px;
    margin: 0, auto;
}

.event-headline {
    margin-top: -30px;
}

.year {
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
    margin-left: 475px;
    border-bottom: 1px solid #b1b1b1;
}

.event-container .event{
    box-shadow: 0px 4px 16px -8px rgba(0,0,0,0.4);
    display: flex;
    border-radius: 8px;
    margin: 32px 0px;
}

.event .event-left {
    background: #222;
    min-width: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    padding: 8px 48px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px 0 0 8px;
    margin-left: 25px;
}

.event .event-left .date {
    font-size: 56px;
}

.event .event-left .month {
    font-size: 16px;
    font-weight: normal;
}

.event .event-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 24px;
}

.event .event-right h3.event-title {
    font-size: 24px;
    margin: 24px 0 10px 0;
    color: #218bbb;
    text-transform: uppercase;
    text-align: left;
}

.event .event-right .event-timing {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 8px;
    border-radius: 16px;
    margin: 24px 0px;
    font-size: 14px;
    color: #218bbb;
}

.event .event-right .event-timing img {
    height: 20px;
    padding-right: 8px;
}

.event .event-right .event-description {
    text-align: left;
    width: 350px;
}

@media (max-width: 550px) {
    .event {
        flex-direction: column;
        
    }

    .event-left {
        padding: 0;
        border-radius: 8px 8px 0 0;
    }

    .event .event-left .event-date .date,
    .event .event-left .event-date .month {
        display: inline-block;
        font-size: 24px;
    }

    .event .event-left .event-date {
        padding: 10px 0;
    }
}




