h1 {
    text-align: center;
    text-decoration: solid;
}

img .about {
    scale: 50%;
    position: relative;
    float:left ;
}

iframe {
    float: left;
}

.container {
    float: left;
}

.aboutinfo{
    float: right;
}